Assignment 2\
Name: Tong Wai Ho\
Sid: 54812369

Question 3 - Data Querying

In [4]:
#a)
SELECT
    h.hacker_id,
    h.name,
    COUNT(DISTINCT s.task_id) AS num_tasks
FROM
    Hackers h
    JOIN Submissions s ON h.hacker_id = s.hacker_id
GROUP BY
    h.hacker_id, h.name
HAVING
    COUNT(DISTINCT s.task_id) >
        (
            SELECT AVG(task_count)
            FROM (
                SELECT COUNT(DISTINCT s2.task_id) AS task_count
                FROM Submissions s2
                GROUP BY s2.hacker_id
            ) AS sub
        )
ORDER BY
    num_tasks DESC,
    h.hacker_id ASC;

IndentationError: unexpected indent (310089624.py, line 3)

In [ ]:
#b)
SELECT
    t.task_id,
    t.description,
    COUNT(top3.hacker_id) * t.bonus AS total_bonus_awarded
FROM
    Tasks t
    LEFT JOIN (
        SELECT
            s.task_id,
            s.hacker_id
        FROM (
            SELECT
                s1.task_id,
                s1.hacker_id,
                DENSE_RANK() OVER (PARTITION BY s1.task_id ORDER BY s1.score DESC, s1.submission_id ASC) AS rnk
            FROM
                Submissions s1
        ) ranked
        WHERE
            ranked.rnk <= 3
        GROUP BY
            ranked.task_id,
            ranked.hacker_id
    ) top3
    ON t.task_id = top3.task_id
GROUP BY
    t.task_id, t.description, t.bonus
ORDER BY
    t.task_id ASC;

In [ ]:
#c)
SELECT
    s.submission_id,
    s.hacker_id,
    h.name,
    s.score
FROM
    Submissions s
    JOIN Hackers h ON s.hacker_id = h.hacker_id
WHERE
    s.submission_date = '2023-01-01'
    AND s.submission_id = (
        SELECT MIN(sub2.submission_id)
        FROM Submissions sub2
        WHERE
            sub2.task_id = s.task_id
            AND sub2.submission_date = '2023-01-01'
            AND sub2.score = (
                SELECT MAX(sub3.score)
                FROM Submissions sub3
                WHERE
                    sub3.task_id = s.task_id
                    AND sub3.submission_date = '2023-01-01'
            )
    )
ORDER BY
    s.task_id ASC;

In [ ]:
#d)
SELECT
    h.hacker_id,
    h.name,
    SUM(best_scores.max_score) AS total_score,
    COUNT(best_scores.task_id) AS num_tasks,
    ROUND(SUM(best_scores.max_score) * 1.0 / COUNT(best_scores.task_id), 2) AS avg_score_per_task
FROM
    Hackers h
    JOIN (
        SELECT
            s.hacker_id,
            s.task_id,
            MAX(s.score) AS max_score
        FROM
            Submissions s
        GROUP BY
            s.hacker_id, s.task_id
    ) best_scores
    ON h.hacker_id = best_scores.hacker_id
GROUP BY
    h.hacker_id, h.name
ORDER BY
    total_score DESC,
    h.hacker_id ASC;

In [ ]:
#e)
SELECT
    h.hacker_id,
    h.name,
    h.bank_account
FROM
    Hackers h
LEFT JOIN
    Submissions s ON h.hacker_id = s.hacker_id
WHERE
    s.hacker_id IS NULL;

In [5]:
#Question 4 - Recommendation System